body{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#comment{
    height: 75px;
    width: 250px;
    vertical-align: top;
}
.center {
    float: right;
}